%footer.footer
  %small
    = link_to image_tag('GitHub-Mark/PNG/GitHub-Mark-32px.png'), 'https://github.com/CuriousCain/SubMan'
  %nav
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", contact_path
      %li= link_to "News",    news_path
